@import "../sass/variables/variables";
@import "../sass/media-queries/phone-default";
@import "../sass/media-queries/desktop";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  
  .attribution {
    font-size: 12px;
    text-align: center;
  }
  .attribution a {
    color: $light-blue;
  }
}
