@import "../variables/variables";

@media screen and (max-width: 26rem) {
  .is-hidden {
    display: none;
  }

  header {
    margin: 20px 15px;

    nav {
      ul {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;

          h1 {
            color: $primary-color;
            font-family: "Limelight", cursive;
            font-size: 30px;
            margin-left: 15px;
          }
          a {
            margin-right: 15px;
          }
        }
      }
    }
  }

  main {
    section.main-section {
      background-color: $primary-color;
      text-align: center;
      height: 1000px;
      background-image: url(../../assets/images/bg-pattern-how-we-work-mobile.svg);
      background-repeat: no-repeat;
      background-position: right top;

      // background-image: url(../../assets/images/bg-pattern-intro-left-mobile.svg),
      // url(../../assets/images/bg-pattern-intro-right-mobile.svg);
      // background-position: top left, bottom right;
      // background-repeat: no-repeat, no-repeat;

      img.intro-left {
        float: left;
        position: relative;
      }

      img.main-image {
        width: 100%;
      }

      h1 {
        font-family: "DM Serif Display", sans-serif;
        font-weight: 400;
        font-size: 42px;
        color: #fff;
        padding: 0px 30px;
        margin-top: 80px;
        position: absolute;
      }

      p {
        font-family: "Karla", sans-serif;
        text-align: center;
        color: #fff;
        line-height: 28px;
        margin-top: 220px;
        padding: 0px 30px;
      }

      button {
        width: 150px;
        height: 45px;
        color: #fff;
        border: 1.75px solid #fff;
        margin: 38px 0px 80px -10px;
        -webkit-margin-start: -75px;
        background-color: $primary-color;
        font-weight: bold;
        position: absolute;
        cursor: pointer;
      }

      img.intro-right {
        float: right;
        margin-top: 30px;
      }
    } // end of main section

    section.cards {
      margin-top: 150px;
      margin-bottom: 150px;
      text-align: center;

      hr {
        width: 35%;
        margin-bottom: 40px;
        margin-left: 130px;
      }

      h1.articles-title {
        font-size: 35px;
        margin-bottom: 70px;
      }

      article {
        margin: 0 25px;

        img {
          width: 25%;
          margin-bottom: 30px;
        }

        h1 {
          font-size: 25px;
          margin-bottom: 15px;
        }

        p {
          font-family: "Karla", sans-serif;
          margin-bottom: 60px;
          color: $medium-gray;
          line-height: 28px;
        }
      }
    } // end of cards section
    section.find-more {
      background-color: $primary-color;
      color: #fff;
      height: 350px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../../assets/images/bg-pattern-how-we-work-mobile.svg);
      background-repeat: no-repeat;
      background-position: right top;

      h1 {
        font-size: 35px;
        padding: 0 15px;
      }
      button {
        width: 170px;
        height: 50px;
        color: #fff;
        border: 1.75px solid #fff;
        margin: 40px 0 0 10px;
        text-transform: uppercase;
        background-color: $primary-color;
        font-weight: bold;
        cursor: pointer;
      }
    }
  } // end of main

  footer {
    background-image: url(../../assets/images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: $light-gray;
    padding-top: 75px;

    h1 {
      text-align: center;
      color: $primary-color;
      font-family: "Limelight", cursive;
      font-size: 30px;
      margin-left: 15px;
    }

    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      list-style: none;
      margin: 25px 0 0 30px;

      .icon {
        margin-right: 20px;
      }
    }

    hr {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0 0 37px;
    }

    article {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      text-transform: uppercase;

      ul {
        list-style: none;

        .list-title {
          color: $medium-gray;
          margin-bottom: 40px;
        }

        li {
          margin-top: 20px;
          font-size: 16px;
          font-family: "Karla", sans-serif;
          font-weight: bold;

          a {
            text-decoration: none;
            color: $primary-color;
          }
        }
      }
    }

    small {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 70px;
      padding: 10px 0 10px;
      background-color: $light-blue;
      color: $light-gray;
      font-family: "Karla", sans-serif;
      font-weight: 400;
    }
  } // end of footer
} //end of media querie
